<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}
</style>
</head>
<body>

<div class="container">
  <!-- <img src="" alt="Avatar" style="width:90px"> -->
  <p><span>AGGNESS</span>seller</p>
  <p>One of the best i have never seen</p>
</div>

<div class="container">
  <!-- <img src="" alt="Avatar" style="width:90px"> -->
  <p><span>coming soon</span>friend</p>
  <p>Ido love his work.. he is a very polite and honest consumer to me. thanks silver staar</p>
</div>

</body>
</html>